// 背景色
$b-cloor : #0B9B8A;
main{
    display: flex;
}
// コンテンツ幅
$left-width : 20%;
$right-width : 80%;
$section-width : 80%;//←mainタグ　右側のコンテンツ幅

.left {
    width: $left-width;
    background-color: $b-cloor;
}

.rigth {
    width: $right-width ;
}

//セクション1　
h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px;
}

.box {
    position: relative;
    text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: black;
    background-color: aquamarine;
}

.bottom-left {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: black;
    background-color: aquamarine;
}


//セクション２

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

    &1 {
        display: flex;
        justify-content: center;
    }
}

.card {
    margin: 20px;
    justify-content: space-around;
    text-align: center;
    width: 70%;

}


.col {
    margin: 10px 10px 10px 30px;
    border: 3px double #ddd;
    padding: 2px;

}

//セクション３
section3 {
    text-align: center;
}

.syousai {
    margin: 10px 10px 10px 30px;
    border: 3px double #ddd;
    padding: 2px;
}

h5 {
    font-size: 1em;
    margin: 50px;
}

.map {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-left: 300px;

}

.add {
    flex-direction: row;
    margin: 100px;
    font-size: 25px;
    padding-top: 50px;

    &1 {
        margin: 100px;
    }

    &2 {
        margin: 30px;
    }
}