* {
    border: 1px solid gainsboro;
}

;


// コンテンツ幅
$left-width : 20%;
$right-width : 80%;

.left {
    width: $left-width;
}

.rigth {
    width: $right-width ;
}

// 背景色
$b-cloor : #0B9B8A;

// KV -----------------------------------------------
.kv {
    // opacity: 0;
    // box-sizing: border-box;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    // &::before {

    //     border: 10px solid $b-cloor;
    //     border-bottom: 15px solid $b-cloor ;
    //     top: 0;
    // }

    // border-top: 20px solid $b-cloor;
    // background-color: $b-cloor;

    // position: relative;




    // KV-ひだり
    nav {
        width: 100%;
        height: 100vh;
        padding: 10% 0;
        background-color: $b-cloor;

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20%;
        }

        li {
            text-align: center;
            // margin: 0 auto;
            padding: 5%;

            span {
                display: block;
            }

            .nav-eng {
                font-size: 1.5em;
            }

            .nav-jpn {
                font-size: 0.5em;
            }
        }


    }

    // KV-みぎ
    // .kv-rigth {
    // width: $right-width;
    // min-height: 90vh;
    // border-bottom: 10px solid $b-cloor;
    // border-radius: 10px;
    // background-color: transparent;

    //     .photo-btn{
    //         text-align: right;
    //         border: 1px solid;
    //         border-radius: 5px;
    //         width: 100px;
    //         padding: 5px 5px;
    //         text-align: center;
    //         margin-right: 10px;
    //         margin-top: 10px;
    //         margin-left: auto;
    //         background-color: aliceblue;
    //         opacity: 0.8;
    //         cursor: pointer;

    //     }

    //     img {
    //         width: 10%;
    //         display: block;
    //         position: fixed;
    //         right: 20px;
    //         bottom: 20px;
    //     }
    // }

    // }

}

// フォトゾーン
.photo.off {
    display: none;
}

.photo {
    width: 100%;
    // height: auto;
    margin: 0 auto;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 10;

    .photo-wrap {
        width: 90%;
        margin: 0 auto;
    }

    .photo-x {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        font-size: 2.5em;
        margin-top: 30px;

        i {
            cursor: pointer;
        }
    }

    span {
        display: block;
        margin-top: 50px;
        font-size: 1.5em;
    }

    .photo-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-top: 15px;
    }

    img {
        display: block;
        width: 30%;
        margin: 10px;

    }
}

// KV画像------------------------------------------
.rigth {
.kv-img {
    display: flex;
    height: 100vh;

    // &::before {
    //     position: absolute;
    //     border: 10px solid $b-cloor;
    //     border-bottom: 15px solid $b-cloor ;
    //     top: 0;
    //     left: 0;
    // }


        height: 100vh;
        background-image: url(../../img/top_img.jpg);
        background-size: cover;
        // position: relative;
        .kuina::before {
            content: "ヤンバルクイナに会いに行こう！";
            font-size: 2em;
            color: aqua;
            position: absolute;
            z-index: 1;
            top: 20%;
            right: 15%;

        }
        

        h1 {
            font-size: 2.5em;
            padding: 10% 15%;
            color: white;
            transform: rotate(-8deg);
        }

        img {
            width: 10%;
            display: block;
            position: fixed;
            right: 20px;
            bottom: 20px;
            z-index: 3;
        }


        .photo-btn {
            position: fixed;
            right: 0;
            z-index: 3;
            // text-align: right;
            border: 1px solid;
            border-radius: 5px;
            width: 100px;
            padding: 5px 5px;
            text-align: center;
            margin-right: 10px;
            margin-top: 10px;
            margin-left: auto;
            background-color: aliceblue;
            opacity: 0.8;
            cursor: pointer;

        }

    }
}

// メイン
$main-img-mtb : 30px; //メインイメージマージン上下
$section-width : 80%;

h2 {
    font-size: 2em;
    margin-top: $main-img-mtb;
}

.sub {
    font-size: 1em;
    margin-bottom: $main-img-mtb;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.3em;
}

main {
    display: flex;
    position: relative;
    z-index: 2;

    .rigth {
        text-align: center;
    }

    img {
        margin-bottom: $main-img-mtb;
    }

    // ルーム-------------------------------------
    .room {
        width: $section-width;
        margin: 0 auto;

        h3,
        p,
        div {
            text-align: start;
        }

        .sub {
            text-align: center;
        }

        .room-detail {
            display: none;
        }

        .room-detail.on {
            display: block;
            margin-top: $main-img-mtb;
        }

        .detail-box {
            display: flex;

            i {
                width: 50px;
                font-size: 1.5em;
                text-align: center;
            }

            div {
                width: 90%;
            }
        }

        .detail-btn {
            margin-bottom: 10px;
            margin: 0 auto;
            margin-top: $main-img-mtb;
            text-align: center;
            padding: 10px;
            background-color: gray;
            border-radius: 50px;
            box-shadow: 5px 5px 8px;
            width: 200px;
            cursor: pointer;

            &.on {
                display: none;
            }
        }

        .close-btn {
            text-align: center;
            margin-top: $main-img-mtb;
            padding: 10px;
            background-color: gray;
            border-radius: 50px;
            box-shadow: 5px 5px 8px;
            width: 200px;
            cursor: pointer;

            i {
                font-size: 1em;
                width: 30px;
            }
        }

        p {
            margin-bottom: 10px;
        }

    }

    .food {
        width: $section-width;
        margin: 0 auto;

        h3 {
            margin-top: $main-img-mtb;
        }

        .food-box {
            display: flex;

            .r-box {
                width: 50%;
                padding: 5px;
                text-align: start;


                img {
                    width: 100%;
                }

                span {
                    display: block;
                    font-size: 0.7em;
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 10px;
                }


            }

        }

        .food-box.j {
            text-align: start;

            // padding: 5px;
            img {
                width: 50%;
                padding: 5px;
            }


        }
    }

    p {
        text-align: start;
        padding: 5px;
    }

}

// フッター------------------------------------
footer {
    display: flex;

    .rigth {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
        height: 100px;
        margin-top: $main-img-mtb;
        background-color: rgb(153, 184, 107);
    }
}